# Meta Business Suite credentials
# Get your access token from https://developers.facebook.com/
META_ACCESS_TOKEN=your_meta_access_token

# Your Meta Business ID
META_BUSINESS_ID=your_meta_business_id
